:root{
    --color-bg : #EEF2E6;
}

body {
    margin-bottom: 67px;
    background-color: var(--color-bg);
}

html {
    position: relative;
    min-height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.login-box,
.signup-box {
    min-height: 80vh;
}

.warning-img {width: 1.25rem;}

.offcanvas-header {min-height: 4.5rem;}

.footer-box {
    bottom: 0;
    height: 7vh;
}

.cart-img {height: 2.5rem;}

.card-image-size {height: 14rem;}

.card-image-size:hover {opacity: 0.8;}

.card-description-text,
.card-title-text {
    min-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header-text {
    min-height: 5rem;
}

.redirect-image {height: 40vh;}

.w-input-product-card {width: 30%;}

.product-box:hover {
    transform: scale(1.01);
}

.cart-item-image {height: 14rem;}

.cart-item-image:hover {transform: scale(1.05);}

.cart-item {border: 0.1rem #6c757d solid;}

.cart-item:hover {cursor: pointer;}

.cart-item-description {
    min-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control-prev {margin-left: -4rem;}

.carousel-control-next {margin-right: -4rem;}

.carousel-box {
    height: fit-content;
    width: 90%;
}

.carousel-indicators {margin-bottom: -3rem;}

.dropdown-menu {
    max-height: 16rem;
    overflow-y: auto;
}

.carousel-image {
    height: 35rem;
}

.contact-text {
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
    border-bottom-color: #DFFFD8;
    border-top-color: #DFFFD8;
}

.card-rating-box {
    bottom: 0.3rem;
    left: 0.3rem;
    background-color: grey;
    border-radius: 0.2rem;
    padding: 0.4rem;
}

.hover-pointer {
    cursor: pointer;
}

#login-img {height: fit-content;}

#image-box {background-color: #008080;}

#login-form {border-radius: 1rem;}

#carouselExampleControls {
    width: 35rem;
    height: 35rem;
}

#bill-details {height: fit-content;}

#input-quantity {width: 4rem;}

#cart-box {min-height: 65vh;}

#empty-cart-box {min-height: inherit;}

#filter-btn {width: fit-content;}

#success-toast {
    background-color: var(--bs-teal);
    width: fit-content;
    z-index: 1001;
    top: 5rem;
    right: 3rem;
}

#error-toast {
    z-index:1001;
    width: fit-content;
    top: 5rem;
    right: 3rem;
}

#shopping-cart-text {margin-left: -1rem;}

#filter-btn {
    right: 3rem;
    bottom: 4rem;
    z-index: 2;
}

#brand-list-form-lg {
    height: 40vh;
    overflow-x: hidden;
}

#sticky-search-box {
    top: 4rem;
    z-index: 1000;
    background-color: var(--color-bg);
}

#search-input {min-width: 6rem;}

#sort-by {min-width: 8rem;}

#profile-img {width: 1.2rem;}

#profile-btn {width: max-content;}

#brand-filters::-webkit-scrollbar,
#rating-filters::-webkit-scrollbar{
    display:none;
}

#no-product-img{height:60vh;}

#filter-btn {display: none;}

#preview-img{height:10rem;}

.w-input {
    width: 15%;
}

.preview-thumbnail{
    width:10rem;
    height:8rem;
}

#checkout-btn {
    width: 100%;
}

@media (max-width:520px) {
    .w-input{
        width: 25%;
    } 
}

@media screen and (max-width:980px) {
    #checkout-btn{
        width: auto;
        margin: auto;
    }
}

@media (min-width:767px){
    #bill-details{
        position: sticky;
        top: 6rem;
    }

    #filterModal,.modal-backdrop{
        display:none !important;
    }
}

@media (max-width:767px) {
    #filter-box {
        display: none;
    }

    #filter-btn {
        display: block;
        position: absolute;
        bottom: 4rem;
        right: 0.5rem;
        position: fixed;
    }

    #offcanvasExample{
        display:none;
    }

    .offcanvas-backdrop{
        display:none;
    }
}

