<div class="card mb-3 border-0 shadow-sm">
    <button data-bs-toggle = "tooltip" data-bs-placement="bottom" title="Remove from cart" class="bg-transparent border-0 end-0 position-absolute text-danger top-0 remove-item"><i class="fa fa-solid fa-trash"></i></button>
    <div class="card-body row no-gutters py-2">
      <div class="col-md-4 p-2">
        <a href="#" class="product-link">
        <img src="" class="h-100 w-100 rounded product-image" alt="...">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <a href="#" class="product-link">
          <h5 class="card-title product-title"></h5>
          </a>
          <p class="card-text product-description"></p>
          <p class="card-text product-price"></p>
          <button class="btn btn-warning decrease-quantity">-</button>
        <input type="number" step="1" min="0" class="w-input text-center form-control d-inline num-input" readonly="true">
        <button class="btn btn-warning increase-quantity">+</button>
        </div>
      </div>
    </div>
  </div>